{#
/**
 * @file niobi_application_reviewer_pool.html.twig
 * Default theme implementation to present Niobi application reviewer pool data.
 *
 * This template is used when viewing Niobi application reviewer pool pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_niobi_application_reviewer_pool()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('niobi_application_reviewer_pool') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
