
<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Application</th>
        <th>Assigned Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
        <tr>
          <td>{{ review.task.id() }}</td>
          <td>
            <a href="{{ path('entity.niobi_application.canonical', {'niobi_application': review.application.id()}) }}">
              {{ review.application.getName() }}
            </a>
          </td>
          <td>{{ review.task.getCreatedTime()|format_date('medium') }}</td>
          <td>
              {% if review.status == 'not started' %}
                {{ 'New'|t }}
              {% elseif review.status == 'not under review' %}
                {{ 'Not under review'|t }}
              {% elseif review.status == 'draft' %}
                {{ 'Reviewing'|t }}
              {% elseif review.status == 'complete' %}
                {{ 'Completed'|t }}
              {% endif %}
          </td>

          <td>{{ review.taskOptions }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
