<div{{ attributes }}>
  {% if completeStatus %}
    <div class="bg-success">
      {{ 'Nomination Complete' | t }}
    </div>
  {% else %}
    <div class="bg-warning">
      {{ 'Nomination Incomplete' | t }}
    </div>
  {% endif %}
</div>
