<div{{ attributes }}>
  <div class="bg-success">{{ 'The application is ready for an administrative decision.' | t }}</div>
  <ul class="list-inline">
    {% for key, decision in decisions %}
      {% if arrCanAccess[loop.index0] %}
        <li>
          <a class="btn btn-sm btn-info"
            href="{{ path('niobi_app.decision_form', {'niobi_application': application.id(), 'decision_plugin': key}) }}">
            {{ decision }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
