{#
/**
 * @file niobi_application.html.twig
 * Default theme implementation to present Niobi Application data.
 *
 * This template is used when viewing Niobi Application pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_niobi_application()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('niobi_application') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
