<div{{ attributes }}>
  <div class="bg-success">
    {{ 'The application is under review.' | t }}
  </div>
  {% if canAccess %}
    <a class="btn btn-sm btn-success" href="{{ path('niobi_app.move_to_decision', {'niobi_application': application.id()}) }}">
      {{ 'Move to Decision Stage >' | t }}
    </a>
  {% endif %}
</div>
