<div{{ attributes }}>
  {% if completeStatus %}
    <div class="bg-success">{{ 'Application is complete and ready to submit.' | t  }}</div>
    {% if canAccess %}
      <p>
        <a class="btn btn-sm btn-success" href="{{ path('niobi_app.move_to_review',
          {'niobi_application_workflow': workflow.id(), 'niobi_application': application.id()}) }}">
          {{ 'Submit for Review as Admin >' | t }}
        </a>
      </p>
    {% endif %}
  {% else %}
    <div class="bg-warning">
      <div>{{ 'The following items are not completed : ' | t }}</div>
      <ul>
        {% if isApplicationCompleted == false %}
          <li>{{ 'Application' | t }}</li>
        {% endif %}

        {% if isRequiredAddendaCompleted == false %}
          <li>
            <div>{{ 'Required Addenda' | t }}</div>
            {# Show status of required addenda forms #}
            <ul>
              {% for f in requiredAddendaForms %}
                <li>
                  {{ f.form.getName() }}
                  ({% if f.status %}{{ 'Completed' | t }}{% else %}{{ 'Not Started' | t }}{% endif %})
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}

        {% if isSupportLetterCompleted == false and supportLetterInfo %}
          <li>
            {% trans %}
              {{ supportLetterInfo.name }}: {{ supportLetterInfo.count }} of {{ supportLetterInfo.total }} required
            {% endtrans %}
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
</div>
