{#
/**
 * @file niobi_conflict_of_interest.html.twig
 * Default theme implementation to present Conflict of Interest data.
 *
 * This template is used when viewing Conflict of Interest pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_niobi_conflict_of_interest()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('niobi_conflict_of_interest') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
