@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.ajax-dashboard--container {
    display: table;
    width: 100%;
    padding: 1rem;
}

.ajax-dashboard-controls, .ajax-dashboard-display {
    display: table-cell;
}

.ajax-dashboard-controls {
    width: 20%;
    max-width: 200px;
    min-width: 120px;
    padding: 1.5rem;
    /*background-color: #f0f0f0;*/
    background-color: #f1f1f1;
    /*background-image: linear-gradient(315deg, #d1e8f5 0%, #f1f1f1 74%);*/
    /*background-image: linear-gradient(125deg, #ffffff 0%, #f1f1f1 74%);*/
    border-right: 1px dotted black;
}

.ajax-dashboard-display {
    width: auto;
    padding: 1rem;
}

.ajax-dashboard-display h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    color: #232b2b;
    margin-top: 0;
}

.ajax-dashboard-display a.btn-info {
  position: absolute;
  top: 2em;
  right: 2em;
}

.ajax-dashboard-controls button {
    color: #2c3e50;
    text-align: left;
    background-color: transparent;
    width: 100%;
    border: unset;
    border-radius: unset;
}

.ajax-dashboard-button {
    display: table;
    width: 100%;
    padding: 0 1rem;
    margin: 1px auto;
}

.ajax-dashboard-button:hover {
    background-color: #798d8f;
    color: #fff;
}

.ajax-dashboard-button span {
    display: table-cell;
}

.ajax-dashboard-button span.ajax-dashboard-button--status {
    width: 15px;
}

.ajax-dashboard-button span.ajax-dashboard-button--label {
    /*width: 15px;*/
  font-size: 1em;
  font-family: 'Roboto', sans-serif;

}

.ajax-dashboard-button button {
    display: table-cell;
    width: 100%;
}

.ajax-dashboard-button button:hover,
.ajax-dashboard-button button:active,
.ajax-dashboard-button button:focus {
    background-color: unset;
    border-color: unset;
    color: unset;
}


.ajax-dashboard-control--label{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin: .75rem 0;
  font-weight: bold;
  color: #3f6ad8;
  white-space: nowrap;
  position: relative;
}
