/**
 * Place your custom styles here.
 */

/**** Fonts ****/

@font-face {
    font-family: InterstateBold;
    src: url('fonts/Interstate-Bold.ttf');
}

/**** Global Styles ****/

h1, h2, h3 {
  font-family: InterstateBold;
}

/*** Global Page Elements ***/

/** Search Block **/
#block-niobi-theme-search {
  float: right;
  width: 200px;
}

/*** Links ***/

h1 > a, h2 > a, h3 > a, h4 > a {
  text-decoration: none !important;
}

/**** Individual Pages ****/

/*** Homepage Dashboard ***/

#user-profile-view .user-profile-image {
    width: 20%;
    max-width: 50px;
}

#user-profile-view .user-profile-info {
    width: 80%;
    padding-left: 10px;
}

#user-profile-view .user-profile-info h3 {
    margin-top: 0;
    margin-bottom: 0;
    overflow-wrap: break-word;
}

#block-views-block-task-my-tasks-block-1 .views-row {
    padding-bottom: 15px;
    padding-top: 5px;
    border-bottom: 1px solid #E5E5E5;
}

/**
 * local action items
 */
.local-actions > li > a {
  padding: 7.5px 12.5px;
}
.local-actions > li > a.is-active{
  border: 1px solid #016098;
}

/**
 * page manage reviews
 */
.view-niobi-application-manage-reviews .view-filters {
  margin-top: 25px;
}

/**
 * exposed filter form in view
 */
.exposed-form {
  display: flex;
  justify-content: space-around;
}

.exposed-form .form-group {
  margin-bottom: 0;
}

.exposed-form .form-actions button {
  margin-top: 32px;
}

.exposed-form .select-wrapper:after {
  display: none;
}
