{#
/**
 * @file niobi_form.html.twig
 * Default theme implementation to present Niobi Form data.
 *
 * This template is used when viewing Niobi Form pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_niobi_form()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('niobi_form') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
