{#
/**
 * @file niobi_resource.html.twig
 * Default theme implementation to present Niobi Resource data.
 *
 * This template is used when viewing Niobi Resource pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_niobi_resource()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('niobi_resource') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
