/**
 * Main menu icons.
 */

/* The lighter color ended up being too light, so we're going for all 000000. */
.toolbar-icon-niobi-admin-settings:before {
    background-image: url(../images/icons/000000/toolbar.svg);
}
.toolbar-icon-niobi-admin-settings:active:before,
.toolbar-icon-niobi-admin-settings.is-active:before {
    background-image: url(../images/icons/000000/toolbar.svg);
}
