/**** Global Styles ****/

/*** Regions ***/

.niobi-admin-main  {
    display: flex;
}

.niobi-admin-sidebar {
    flex: 1;
    max-width: 250px;
}

.niobi-admin-content {
    flex: 5;
    margin-left: 15px;
}


/*** Modals ***/
.ui-dialog {
    width: 75% !important;
}