/**
 * @file
 * Niobi Form references styling.
 */

/**
 * Local actions.
 */
.niobi-form-references-local-actions {
  margin: 1em 0;
}

.niobi-form-references-local-actions .button,
.niobi-form-references-local-actions .button:first-child {
  margin-left: 0;
  margin-right: 1em;
}
